body{
    background-color: lightblue;
}
h1{color: darkblue;
    font-family: Arial, sans-serif;
    text-align: center;
}
p{
    color: darkred;
    font-size: 20px;
    text-align: center;
}
img{
    width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
.box{
    background-color: yellow;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.TheBut{
    background-color: aquamarine;
    color:blueviolet;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    display:block;
    margin: 20px auto;
}
.TheBut:hover {
    background-color: burlywood;
}

