body{
    background: linear-gradient(to right, #1f2b46, #3e69aa);
}
h1{
    font-family: Arial, sans-serif;
    font-size: 80px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
    background: linear-gradient(to right, #000000, #acaaaa, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    color: darkred;
    font-size: 20px;
    text-align: center;
}
img{
    width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

.tptxt {
    background: linear-gradient(to right, #0051ff, #ff00ff);
    padding: 10px;
    text-align: center;
}
.tptxt a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
}
.timezone-select {
    cursor: pointer;
    display: block;
    background-color: rgb(27, 36, 59);
    color: rgb(199, 85, 85);
    margin: 20px auto;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
}
/*label for local time */
#local-time {
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.377);
    margin-bottom: 1px;
}
#zone-time {
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.377);
    margin-bottom: 1px;
}
#local-label {
    font-size: 25px;
    font-weight: bold;
    color: rgba(255, 27, 38, 0.575);
    margin-bottom: 1px;
}
#zone-label {
    font-size: 25px;
    font-weight: bold;
    color: rgba(255, 27, 38, 0.575);
    margin-bottom: 1px;
}
.time-zone-map {
    width: 1000px; 
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}